<!DOCTYPE html>
<html>
  <head>
    <title>App - Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/assets/gritter/css/jquery.gritter.css" rel="stylesheet" media="screen">
    <!--[if lte IE 8]>
      <script src="/assets/angular/json3.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .sidebar-nav {
        padding: 9px 0;
      }
      .push_below_top_bar { top: 40px; }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body ng-app="usersApp" id="ng-app">
    <script src="/assets/jquery-1.9.1.min.js"></script>
    <script src="/assets/angular/angular.min.js"></script>
    <script src="/assets/angular/angular-resource.min.js"></script>
    <script src="/assets/bootbox/bootbox.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/gritter/js/jquery.gritter.min.js"></script>

    <div class="container-fluid">
      <div class='navbar'>
          <div class='navbar-inner'>
              <div class='container-fluid'>
                  <a class='brand'>Test</a>
                  <ul class='nav'>
                      <li><a>Item 1</a></li>
                      <li><a>Item 2</a></li>
                  </ul>
                    <div ng-controller="LoginCtrl">
                      <ul class="nav pull-right" ng-show="current_user">
                        <li class="dropdown">
                          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logged in as {{current_user}} <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="javascript:;" ng-click="logout()">Logout</a></li>
                          </ul>
                        </li>
                      </ul>
                      <form ng-hide="current_user" class="navbar-form pull-right" ng-submit="login()">
                        <input type="text" class="input-small" ng-model="username" id="username" placeholder="Login" autofocus>
                        <input type="password" class="input-small" ng-model="password" placeholder="Password">
                        <input type="submit" value="Login" class="btn"/>
                      </form>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" data-ng-controller="NavCtrl">
              <li class="nav-header">Sidebar</li>
              <li ng:class="{active: location.path() == '/users'}"><a href="#/users">Users</a></li>
              <li ng:class="{active: location.path() == '/systems'}"><a href="#/systems">Systems</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div data-ng-controller="RandomCtrl">
            <div>Seconds you've been on this page: {{counter}}</div>
          </div>
          <div ng-view></div>
          <?php //$this->yield($data) ?>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->
    <script src="/views/app.js"></script>
    <script src="/views/nav.js"></script>
    <script src="/views/users/users.js"></script>
    <script src="/views/systems.js"></script>
    <script src="/views/random.js"></script>
    <script src="/views/login.js"></script>
  </body>
</html>