<h1>Users</h1>
<table ng-show="users.length" class="table table-striped">
  <thead>
    <tr><th>Name</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td><a href="" ng-click="editUser(user)">{{user.name}}</a></td>
    </tr>
  </tbody>
</table>
<div>Root Current User: {{current_user}}</div>
<div ng-hide="userToEdit || !current_user">
  <h3>New User</h3>
  <form ng-submit="createUser()">
    <div>Name <input type="text" ng-model="name" /></div>
    <div>{{name}}</div>
    <div><button class="btn btn-primary"><i class="icon-plus"></i> Create User</button></div>
    <div style="color: red;">{{nameError}}</div>
  </form>
</div>
<div ng-show="userToEdit && current_user">
  <h3>Edit User</h3>
  <form name="editUserForm" ng-submit="updateUser(userToEdit)">
    <div>ID: {{userToEdit.id}}</div>
    <div>Name <input type="text" ng-model="userToEdit.name" /></div>
    <div>
      <button type="submit" class="btn btn-primary btn-custom" ngc="updateUser(userToEdit)">Save</button>
      <a class="btn" ng-click="cancelEdit(userToEdit)">Cancel</a>
      <a class="btn btn-danger" ng-click="deleteUser(userToEdit)"><i class="icon-trash"></i> Delete</a>
    </div>
  </form>
</div>
<div ng-show="userToEdit && !current_user">
  <h3>Show User</h3>
  <div>ID: {{userToEdit.id}}</div>
  <div>Name {{userToEdit.name}}</div>
</div>
